<div id="<%= dom_id player %>">
  <p>
    Name:
    <strong><%= player.name %></strong>

    Role:
    <Strong><%= player.role %></Strong>

    Rank:
    <Strong><%= player.rank %></Strong>

    In-Session:
    <Strong><%= player.insess %></Strong>
  </p>

</div>
