<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <ul>
      <li>
        <%= form.label :bank_id, style: "display: block" %>
        <%= form.number_field :bank_id %>
        <%= form.label :play1_id, style: "display: block" %>
        <%= form.number_field :play1_id %>
        <%= form.label :play2_id, style: "display: block" %>
        <%= form.number_field :play2_id %>
        <%= form.label :play3_id, style: "display: block" %>
        <%= form.number_field :play3_id %>
        <%= form.label :play4_id, style: "display: block" %>
        <%= form.number_field :play4_id %>
        <%= form.label :play5_id, style: "display: block" %>
        <%= form.number_field :play5_id %>
        <%= form.label :play6_id, style: "display: block" %>
        <%= form.number_field :play6_id %>
        <%= form.label :play7_id, style: "display: block" %>
        <%= form.number_field :play7_id %>
        <%= form.label :play8_id, style: "display: block" %>
        <%= form.number_field :play8_id %>
        <%= form.label :play9_id, style: "display: block" %>
        <%= form.number_field :play9_id %>
      </li>
    </ul>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
