<div id="<%= dom_id card %>">
  <p>
    <strong>Desc:</strong>
    <%= card.desc %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= card.value %>
  </p>

  <p>
    <strong>Altvalue:</strong>
    <%= card.altvalue %>
  </p>

  <p>
    <strong>Ispic:</strong>
    <%= card.ispic %>
  </p>

  <p>
    <strong>Play:</strong>
    <%= card.play_id %>
  </p>

</div>
